In [1]:
import pandas as pd

In [3]:
people = {
    'first':['John','Ethan','Walter'],
    'last':['Smith','Doe','Doe'],
    'email':['john.smith@gmail.com', 'ethantai@gmail.com','walterdisney@gmail.com']
    }
df = pd.DataFrame(people)
df

    first   last                   email
0    John  Smith    john.smith@gmail.com
1   Ethan    Doe      ethantai@gmail.com
2  Walter    Doe  walterdisney@gmail.com

In [4]:
# search people with last name Doe

filt = (df['last']=='Doe')

In [5]:
df[filt]

    first last                   email
1   Ethan  Doe      ethantai@gmail.com
2  Walter  Doe  walterdisney@gmail.com

In [6]:
df.loc[filt]

    first last                   email
1   Ethan  Doe      ethantai@gmail.com
2  Walter  Doe  walterdisney@gmail.com

In [7]:
df.loc[filt,'email']

1        ethantai@gmail.com
2    walterdisney@gmail.com
Name: email, dtype: object

In [8]:
# and or--- & |

filt = (df['last']=='Doe') & (df['first']=='Walter')

In [9]:
df.loc[filt,'email']

2    walterdisney@gmail.com
Name: email, dtype: object

In [10]:
filt = (df['last']=='Smith') | (df['first']=='Walter')
df.loc[filt,'email']

0      john.smith@gmail.com
2    walterdisney@gmail.com
Name: email, dtype: object

In [11]:
# opposite 

filt = (df['last']=='Smith') | (df['first']=='Walter')
df.loc[-filt,'email'] # opposite of the filt

1    ethantai@gmail.com
Name: email, dtype: object

In [ ]:
# isin(['xxx','yyy'])  .isnull()  .notnull()
reviews['index_backwards'] = range(len(reviews), 0, -1)  # set index backwards